* {
  margin: 0;
  padding: 0;
}
body{
  background-color:red; //cambio e color
  margin: 30px;
}
#parrafoEncapsulado{
  padding: 1em;
  color: white; //cambio de color
  background-color: blue;
  width: 50%;
  align-items: center;
  margin-left: 35%;
}
#parrafoEncapsulado:first-letter{
  color: violet;
}
.imagen{
  float: left;
  margin-right: 1em;
}
.parrafo{
  padding: 1em;
}
p:first-letter{
  color: purple;
}
.bloqueScroll{
  margin-left: 40%;
  overflow: scroll;
}
